<template>
  <div class="flex flex-col items-center text-slate-500">
    <span class="text-3xl font-bold font-mono p-10">Welcome to the Index Page</span>
  </div>
</template>

<script setup lang="ts">
import { definePageMeta } from '#imports'

definePageMeta({
  layout: 'default'
})
</script>
